admin/node_modules
admin/public/hot
admin/public/storage
admin/public/upload
admin/public/vendor
admin/storage/*.key
admin/vendor
admin/.idea
admin/.vagrant
admin/Homestead.json
admin/Homestead.yaml
admin/npm-debug.log
admin/yarn-error.log
admin/.env
spider/node_modules
spider/static/books/*
node_modules
spider/package-lock.json

/admin/composer.lock
