.theme-keepeye,.theme-keepeye *,.theme-keepeye .content{
    background-color: #cae9b1;
}
.theme-keepeye .bar,.theme-keepeye .bar *{
    background-color: #e5f6d7;
}
.panel .list-block {
    color:#000000;
}
.theme-dark .panel .list-block{
    color: #ffffff;
}
.bar.font-setting,.bar.share-setting{
    height: auto;
}
body .bar.bar-tab a.active,.theme-keepeye .bar-tab a.active{
    color: #929292;
}
.theme-dark .bar.bar-tab a.active{
    color: #fff;
}
.theme-dark .bar.bar-tab a{
    color: #fff;
}
.social-share{
    padding-top:5px;
    padding-bottom:8px;
}
.bar.bar-nav .button {
    position: relative;
    line-height: 1.35rem;
    top: 0;
}
.text-font-setting,.word{
    word-wrap: break-word;
    font-size:18px;
}
.word{
    font-size: .65rem; color: #929292
}
#page-catalogs a{
    color:#0f1112;
}
#page-catalogs a.active{
    color:#73c5fc;
}
.theme-dark #page-catalogs a{
    color:#fff;
}
#read-history{padding-left: .15rem;padding-right: .15rem;}
.wrapper02 ul,ol {list-style:none;white-space:nowrap;margin:0;margin-block-start: 0;margin-block-end: 0em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 0px;}
.wrapper02 ul li {
    list-style: none;
    display:inline-block;
}
.clearfix:after{content:".";display:block;height:0;clear: both;visibility:hidden;}
.clearfix{*zoom:1;}
.wrapper02.wrapper03{height:auto;}
.wrapper02 {position:relative;width: 100%; height:6.2rem;overflow: hidden;text-align:left;}
.wrapper02 .scroller {position: absolute;}
.wrapper02 li a{display:block; color:#3d4145}
.theme-dark .wrapper02 .scroller li a{color:#fff}
.wrapper02 li a span,.book-class-name{display:block; line-height:1rem;font-size:.6rem;text-align:left;padding-left:.3rem;padding-bottom:.2rem;padding-top:.3rem;}
.wrapper .scroller li a img{display:block;height: 5rem;width:4rem;padding:.3rem .15rem .1rem 0.15rem;}
.book-img{height: 5rem;width:4rem;}
.book-img,.scroller img{border-radius:.35rem;-moz-box-shadow:2px 2px 3px #333333; -webkit-box-shadow:2px 2px 3px #333333; box-shadow:2px 2px 3px #333333;}
.banner{width:100%;border-radius:1rem;padding: 0.5rem;}
a.label{border: solid #6798e0 1px;color: #6798e0;font-size: 0.6rem;padding-left: 0.4rem;padding-right: 0.4rem;margin-left: 0.2rem;margin-right:0.2rem }
.wrapper02.wrapper03 ul {padding-left: .75rem;}
a.item-inner{display:block;color: #3d4145;line-height: 1rem;font-size: .75rem;}
.theme-dark a.item-inner{color: #fff}
.foot{background-color: #3b4045;color:#fff;font-size: 0.5rem;}
.foot p{text-align: center;}
.text-font-setting p{text-indent:1.5rem;}
#book-main-tools{display: table}
.book-class-content{padding: 0.2rem}
a.book-class{border: solid #6798e0 1px;color: #6798e0;font-size: 0.8rem;padding: 0.2rem; line-height: 2rem}
.red{color: #f00}
body .bar .button{top:0}
.list-block a .item-media+.item-inner {margin-left: .75rem;}
.row .col-25.book-class {width: 25%;margin-left: 0;}